<div class="form-inline">
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>修改密码</legend>

            <div class="maindiv">
                <p>
                    账 &nbsp 号：
    @Html.TextBox("email", "", new { @class = "form-control", placeholder = "输入登录邮箱" })
                    @Html.ValidationMessage("email")

                </p>

                <p>
                    密 &nbsp 码：
    @Html.Password("password", "", new { @class = "form-control", placeholder = "输入密码" })
                    @Html.ValidationMessage("password")

                </p>
                <p>
                    新密码：
    @Html.Password("newpassword", "", new { @class = "form-control", placeholder = "新密码" })
                    @Html.ValidationMessage("password")

                </p>
                <input type="submit" value="修改" class="btn" />
            </div>
        </fieldset>
    }
</div>
