
@{
    ViewBag.Title = "NewPassword";
}

<h2>NewPassword</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
@Html.Hidden("code",ViewData["code"].ToString())

 <div class="editor-label">
            @Html.Label("密码")
        </div>
        <div class="editor-field">
            @Html.Password("Password")
            @Html.ValidationMessage("Password")
        </div>
        
        <div class="editor-label">
            @Html.Label("重复密码")
        </div>
        <div class="editor-field">
            @Html.Password("RepPassword")
            @Html.ValidationMessage("RepPassword")

        <p>
            <input type="submit" value="提交" />
        </p>
 </div>
}