@using Webdiyer.WebControls.Mvc
@model PagedList<Justsay.Models.Message>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Manage.cshtml";
}

<h2>悄悄话 管理</h2>
<p> 
    <form class="navbar-form navbar-left" role="search">
        <div class="input-group">
            <input type="text" id="id" class="form-control" placeholder="输入ID">
            <input type="hidden" id="controltype" value="Message" class="form-control" placeholder="输入ID">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">操作 <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">                   
                    <li><a href="#details" data-control="details">查看</a></li>
                    <li class="divider"></li>
                    <li><a href="#Edit" data-control="Edit">修改</a></li>
                    <li class="divider"></li>
                    <li><a href="#delete" data-control="delete">删除</a></li>                    
                </ul>
            </div>
            <!-- /btn-group -->
        </div>
        <!-- /input-group -->

    </form>
</p>
<table class="table table-hover">
    <tr>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th>
            FromName
        </th>
        <th>
            ToName
        </th>
        <th>
            Time
        </th>
        <th>
            Content
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FromID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToName)
        </td>
        <td>
            @item.Content.SubstringLength(30)
        </td>
        <td>
            @Html.ActionLink("删除", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
@Html.Pager(Model,new PagerOptions{PageIndexParameterName = "id"})