@model IPagedList<Justsay.Models.Message>
@{
    ViewBag.Title = "我说的悄悄话";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {

        Layout = "~/Views/Shared/_MySpace.cshtml";
    }
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">我说的悄悄话</h3>
    </div>
    <table class="table table-hover">
        <tr>

            <th>From
            </th>
            <th>To
            </th>

            <th>内容
            </th>
            <th>状态
            </th>
            <th>Time
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.FromName)
                </td>
                <td>
                    <a href="/message/create/?idstr=@item.ToID.UidEncrypt()&name=@item.ToName.DefaultValue("佚名")" data-toggle="modal" data-target="#justsaymodal" >@item.ToName.DefaultValue("佚名") </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @if (!item.IsNew)
                    {
                        @:已读
                }
                    else
                    {
                        @:未读
                }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>

                <td>
                    @Html.ActionLink("删除", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>

    @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "id", ShowPageIndexBox = true, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false })
    @{Html.RegisterMvcPagerScriptResource();}

</div>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
