@model Justsay.Models.Comment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit</title>
</head>
<body>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Comment</legend>
    
            @Html.HiddenFor(model => model.ID)
    
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ShowName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ShowName)
                @Html.ValidationMessageFor(model => model.ShowName)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Time)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Time)
                @Html.ValidationMessageFor(model => model.Time)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Content)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Content)
                @Html.ValidationMessageFor(model => model.Content)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.FunnyID, "Funny")
            </div>
            <div class="editor-field">
                @Html.DropDownList("FunnyID", String.Empty)
                @Html.ValidationMessageFor(model => model.FunnyID)
            </div>
   
    
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
