@model List<Justsay.Models.Comment>
@{
    int count = 1;
}
<div class="panel panel-default">
    <div class="panel-body">
        <h4><span class="label label-success">热门评论</span></h4>


        @foreach (var item in Model)
        {
            <hr />
            <div class="clearfix"></div>
            <p class="text-muted">
                <span class="pull-left">第@(count++)名 &nbsp <a href="/message/create/?idstr=@item.MemberID.UidEncrypt()&name=@item.ShowName.DefaultValue("佚名")" data-toggle="modal" data-target="#justsaymodal" >@item.ShowName.DefaultValue("佚名") </a>
                    说：</span>
                <span class="small pull-right">@Html.DisplayFor(modelItem => item.Time)</span>
            </p>
            <div class="clearfix"></div>
            <p>
                <span class="pull-left">@Html.DisplayFor(modelItem => item.Content)</span>

                <span id="hup@(item.ID)" class="pull-right">
                    @Ajax.ActionLink(item.Up.ToString(), "Up", "Comment", new { id = item.ID },
                new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "hup" + item.ID }, new { @class = ".btn glyphicon glyphicon-thumbs-up" })
                </span>
                <span class="pull-right">
                    @if (User.Identity.Name == item.MemberID.ToString() || User.IsInRole("Admin,SuperAdmin,Owner"))
                    {       
                        @: @Html.ActionLink("编辑", "Edit", "Comment", new { id = item.ID }, null) |
                        @: @Html.ActionLink("删除", "Delete", "Comment", new { id = item.ID }, null)
        }</span>
            </p>
            <div class="clearfix"></div>
        }
    </div>
</div>



